.jumbotron {

    text-align: center;
    color:white;
    font-family: 'Luckiest Guy', cursive;
    background: black;
}

*navbar {

    font-family: 'Luckiest Guy', cursive;

}

body {

    background-image: url("background.jpg");
    background-size: 100%; 
}

.form {

    color: white; 
}z
