body, html {
  height: 100%;
  background-image: url()
}

.form {
    color: white; 
}

#concert-logo {
  width: 500px;
  max-width: 95%;
}

.image1,
.image2 {
  /* Set a specific height */
  height: 50%;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.image1 {
  background-image: url("../images/concert.jpg"), linear-gradient(145deg, #FFE53B 0%, #FF2525 74%);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.image2 {
  background-image:  url("../images/event.jpg"), linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background-blend-mode: multiply;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#headline {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

h5 {
  line-height: 130%;
}

.heading-font {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
}


/* style for musicList, music-card, h6, #search-option-List, option and option:hover */
#musicList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#button-font {
  font-family: 'Fjalla One', sans-serif;
}

/* music from Napster styles */
.music-card-container {
  height: 270px;
  width: 200px;
  margin: 5px;
}

.music-card {
  height: 200px;
  width: 200px;
}

h6 {
  font-size: 1.15rem;
  margin: .7666666667rem 0 .46rem 0;
  padding: 0px 5px;
  line-height: 1.3;
  font-family: 'Fjalla One', sans-serif;
}

#search-option-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color: transparent;
}

.option {
  background-color:transparent;
  width: 50%;
  text-align: center;
  padding: 0 0 10px 10px;
}

.option:hover{
  background-color: #afdaeb;
}

#tag-line {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
}

.btn-large {
  color: white;
}




/* Footer */

.footer-font {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  margin-bottom: 0px;
}

#play{
  color: black;
}

/* Social Media Icons */

#footer-logobox {
 margin-left: 0;
}

.icon{
  font-size: 2rem;
  color: #fff;
}

#skynet-logo {
  width: 200px;
  vertical-align: middle;
}

#seatGeek-logo {
  width: 100px;
  vertical-align: middle;
}

#napster-logo {
  width: 30px;
  vertical-align: middle;
}

/* media queries */

   
/**************
    640px
***************/
@media screen and (max-width: 640px) {
  #concert-logo {
    width: 400px;
  }
  #skynet-logo {
    width: 150px;
    vertical-align: middle;
  }
}

@media screen and (max-width: 420px) {
  #concert-logo {
    width: 300px;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
